@font-face {
    font-family: rick_and_morty;
    src: url(../../assets/MISFITS-font.ttf);
}

.card {
    background-color: #f48d06cb;
    border: solid #06d6a0;
    font-family: rick_and_morty;
    width: 15em;
    /* height: 19em; */
    /* border-radius: 2em; */
    position: relative;
    margin: 5px;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card h2 {
    color: #370617;
}

.miSel select {
    border: #06d6a0 solid;
    border-radius: 0.5em;
    margin: 0.5em;

}

.corazones {
    display: flex;
    justify-content: space-between;
}


.card button:hover {
    background-color: #ffd60a;
    border-radius: 0.5em;
    margin: 0.5em;
    cursor: pointer;
}

.card img {
    width: inherit;
}

.datos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}