.miNav{
    display: flex;
    justify-content: space-evenly;
    background: #33997d;
    /* padding: 15px; */
}
.miNav a{
    margin: 5px;
    padding: 10px;
    font-size: 25px;
    color: aliceblue;    
    text-decoration: auto;
}
.miNav a:hover{
    background-color: #D2770C;
    /* border-radius: 0.5em; */
    /* margin: 0.5em; */
    cursor: pointer;
    color: black;
}